#container {
  
  height:400px;
  width:auto;
  
}
  
img.a {
width: 100%;
max-width: 300px;

height: 100%;
max-height: 600px;

position:fixed;

}
img.b {

width: 100%;
max-width: 200px;

height: 100%;
max-height: 400px;

position:fixed;
    
    
}
img.c {
width: 100%;
max-width: 250px;

height: 100%;
max-height: 500px;

position:fixed;
    
}

img.cc {
  width: 100%;
max-width: 100px;

height: 100%;
max-height: 200px;

position:fixed;

}
img.aa {
width: auto;
height: auto;
position:fixed;
    
}
img.bb {
 width: 100%;
max-width: 150px;

height: 100%;
max-height: 300px;

position:fixed;
    
    
}

@media only screen and (max-device-width: 1024px) {
  

  
img.a {
  width: auto;
height: auto;
position:fixed;

}
img.b {


width: auto;
height: auto;
position:fixed;
    
    
}
img.c {
width: 100%;
max-width: 200px;

height: 100%;
max-height: 400px;

position:fixed;
    
}

img.cc {
  width: 100%;
max-width: 150px;

height: 100%;
max-height: 300px;

position:fixed;

}
img.aa {
width: auto;
height: auto;
position:fixed;
    
}
img.bb {
width: 400px;
height: 800px;
position:fixed;
    
    
}
}
